*.njsproj
*.ntvs*
*.sln
*.suo
.DS_Store
.classpath
.env.*.local
.env.local
.idea
.project
.settings/
.vscode
dist/
eslint-report.json
node/
node_modules/
npm-debug.log*
target/
webproject-backend/application.yml
webproject-backend/webproject-data.yml
yarn-debug.log*
yarn-error.log*
